.top-div {
  background-color: #212731;
   padding: 0px 250px 0px 300px;

   input{
     &:hover {
        border: 3px solid #1b88f4;
      }
   }

  button {
    margin: 0px 10px;
  }
}

@media only screen and (max-width: 1050px) {
  .top-div {
    padding: 0px 20px !important;
  }
}
